@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: "Open Sans";
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: unset;
}

ul {
    padding-inline-start: 0 !important;
}

ul li {
    list-style-type: none;
}

.black-bg {
    background-color: #000;
}

.yam-bg {
    background: linear-gradient(180deg, #00AFBB 0%, #0BBAFF 100%);
}

header {
    padding: 1.5rem 0;
}

.nav-item {
    margin: 0 0.5rem;
}

.nav-item a {
    font-family: "Open Sans";
    font-size: 18px;
    color: #fff !important;
}

.btn-download a {
    color: #00AFBB !important;
}

.btn-download,
.btn-download:hover,
.btn-download:active,
.btn-download:visited,
.btn-download:focus {
    width: 175px;
    background-color: transparent !important;
    border: 2px solid #00AFBB !important;
    outline-color: #00AFBB !important;
    border-radius: 5px;
}

.btn-main-yam,
.btn-main-yam:hover,
.btn-main-yam:active,
.btn-main-yam:visited,
.btn-main-yam:focus {
    width: 175px;
    background-color: #00AFBB !important;
    border-color: #00AFBB !important;
    outline-color: #00AFBB !important;
    border-radius: 5px;
}

.item-dot {
    height: 25px;
}

.nav-item-dot {
    display: inline-block;
    background-color: #00AFBB;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:visited,
.navbar-toggler:focus {
    border: none !important;
    outline: none !important
}

.navbar-toggler .close-icon {
    display: inline;
}

.navbar-toggler.collapsed .close-icon,
.navbar-toggler:not(.collapsed) .toggler-icon {
    display: none;
}

.dropdown {
    position: initial;
}

.dropdown-menu {
    background-color: #000;
    /* width: 100%; */
    min-width: 100%;
    height: 75px;
}

.dropdown-menu.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item-showcase,
.dropdown-item-content {
    margin: 0 50px;
}


/* MAIN */

.main-content-48 {
    font-family: "Work Sans Bold";
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.main-content-black {
    font-family: "Work Sans Bold";
    font-weight: 700;
    font-size: 60px;
    color: #000;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.sub-content-black {
    font-weight: 300;
    font-size: 24px;
    color: #000;
    line-height: 1.3;
    margin: 1rem 0;
}

.main-content-white {
    font-family: "Work Sans Bold";
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.sub-content-white {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    line-height: 1.3;
    margin: 1rem 0;
}

.main-content-black span,
.main-content-white span {
    color: #00AFBB;
}

.pd-6 {
    padding: 5rem 0;
}

.pd-3 {
    padding: 3rem 0;
}

.bw-img {
    filter: grayscale(100%);
}

.yam-cat-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.yam-cat-item {
    width: 30%;
    margin: 1rem 0;
}

.yam-cat-item-icon {
    background: linear-gradient(180deg, #00AFBB 0%, #0BBAFF 100%);
    box-shadow: 0px 4px 20px rgba(0, 200, 200, 0.55);
    border-radius: 20px;
    width: 117px;
    height: 117px;
    display: flex;
}

.yam-cat-item-icon img {
    margin: auto;
}

.yam-cat-item-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 1rem 0;
}


/* HOME PAGE */

.banner {
    background: url(../images/home-banner-bg.jpg) center no-repeat;
    /* max-width: 100%; */
    height: 772px;
    background-size: cover;
}

.banner-app-store-link {
    margin: 1.5rem;
}

.banner-icon-content {
    margin-top: 5rem;
}

.banner-icon-content-item {
    margin: 0 5rem;
}

.banner-icon-content-item-text {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.intro-video-player video {
    display: block;
    width: 771px;
    height: auto;
    margin: auto;
    border: 15px solid #004650;
    border-radius: 25px;
}

.intro-info-1-text *,
.intro-info-2-text * {
    margin: 1.5rem 0;
}

.intro-info-1-text h1,
.intro-info-2-text h1 {
    font-family: "Work Sans";
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.intro-info-1-text h1 span,
.intro-info-2-text h1 span {
    color: #00AFBB;
}

.intro-info-1-text p,
.intro-info-2-text p {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.more-link {
    text-decoration: underline !important;
    color: #fff !important;
    font-size: 18px;
    line-height: 1.3;
}

.intro-info-1-img {
    position: relative;
    height: 600px;
}

.intro-info-1-img-dot {
    display: inline-block;
    background: #00AFBB center no-repeat;
    width: 379px;
    height: 379px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.intro-info-1-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.intro-info-2-img {
    position: relative;
    height: 600px;
}

.intro-info-2-img-dot {
    display: inline-block;
    background: #00AFBB center no-repeat;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 2;
}

.intro-info-2-img-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.intro-info-2-img-2 {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.get-started-icon-content {
    margin-top: 5rem;
}

.get-started-icon-content-item {
    margin: 0 5rem;
}

.btn-creator a {
    color: #000;
    font-weight: 700;
    font-size: 18px;
}

.btn-creator,
.btn-creator:hover,
.btn-creator:active,
.btn-creator:visited,
.btn-creator:focus {
    width: 175px;
    color: #FFF !important;
    background-color: #FFF !important;
    border-color: #FFF !important;
    outline-color: #FFF !important;
    border-radius: 5px;
    box-shadow: none !important;
}

.btn-fan a {
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
}

.btn-fan,
.btn-fan:hover,
.btn-fan:active,
.btn-fan:visited,
.btn-fan:focus {
    width: 175px;
    color: transparent !important;
    background-color: transparent !important;
    border: 1px solid #FFF !important;
    outline-color: #FFF !important;
    border-radius: 5px;
    box-shadow: none !important;
}

.list-post-section h1 {
    font-family: "Work Sans Bold";
    color: #fff;
    font-size: 40px;
}

.list-post-section-img {
    margin: 2rem 0;
}

.list-post-section-img a:nth-child(2) {
    margin: 0 2rem;
}


/* END HOME PAGE */


/* ABOUT PAGE */

.about-general-info-img {
    margin-top: 1rem;
}

.about-detail-info h1 {
    font-family: "Work Sans Bold";
    font-weight: 700;
    color: #fff;
    font-size: 50px;
    line-height: 1.5;
    margin: 2rem 0;
}

.about-detail-info h1:first-child {
    margin-top: 0;
}

.about-detail-info h1 span {
    color: #000;
}

.about-detail-info p {
    color: #fff;
    font-size: 24px;
}

.about-detail-info p:first-of-type {
    font-size: 18px;
}

.list-card-group {
    width: 49%;
    margin: 2rem 0;
}

.card-item {
    background: linear-gradient(0deg, #18191C 0%, #343434 100%);
    border-radius: 20px;
    width: 48%;
    height: auto;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.card-item-icon {
    margin-top: 2rem;
}

.card-item-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 3rem 0;
}

.card-item-content {
    color: #fff;
    font-size: 18px;
    margin-top: 1rem;
}


/* BLOG */

.blog-post-img {
    margin: 2rem 0;
}

.blog-post-title {
    font-family: Work Sans;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    margin: 1rem 0;
}

.blog-post-info,
.blog-post-content {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.yam-title {
    font-family: "Work Sans Bold";
    font-family: 700;
    color: #fff;
    font-size: 50px;
    line-height: 1.5;
    margin: 2rem 0;
}

.yam-title span {
    color: #00AFBB;
}

.slug-page,
.yam-content {
    color: #fff;
    font-size: 18px;
}

.post-intro-video {
    border: 2px solid #fff;
    border-radius: 25px;
    margin: 1rem 0;
}

.post-intro-video video {
    display: block;
    width: 100%;
    height: auto;
    border: 15px solid #000;
    border-radius: 25px;
}

#post-intro-video-note {
    color: #fff;
    font-size: 16px;
}


/* FOOTER */

footer {
    padding: 1rem 0;
}

.footer-text-col-title {
    color: #fff;
    font-weight: 700;
}

#footer--about {
    padding: 0 15px;
}

footer a,
footer li {
    color: #fff;
    margin: 1rem 0;
    font-weight: 300 !important;
}

.footer-item-dot {
    display: inline-block;
    background-color: #00AFBB;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

@media screen and (min-width: 1440px) {
    .main-content-black,
    .main-content-white {
        font-size: 72px;
    }
    .pd-6 {
        padding: 6rem 0;
    }
    .intro-info-1-text h1,
    .intro-info-2-text h1 {
        font-size: 64px;
    }
    .list-post-section h1 {
        font-size: 48px;
    }
    .about-detail-info h1 {
        font-size: 64px;
    }
    .about-background-brand .main-content-white {
        font-size: 64px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-collapse li {
        margin: 0.5rem 0 !important;
    }
    .intro-video-player video {
        width: 681px;
    }
    .intro-info-2-img-dot {
        left: 2%;
    }
    .intro-info-2-img-2 {
        right: 10px;
    }
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        height: 50px;
    }
    .dropdown-item-img {
        width: 40px;
        height: 40px;
    }
    .intro-video-player video {
        width: 80%;
    }
    .intro-info-1-img {
        height: 570px;
    }
    .intro-info-1-img-dot {
        width: 379px;
        height: 379px;
    }
    .intro-info-2-img-dot {
        left: 20%;
    }
    .intro-info-2-img-1 {
        right: 10%;
    }
    .intro-info-2-img-2 {
        right: 12%;
    }
    .list-post-section-img a:nth-child(2) {
        margin: 2rem 0;
    }
    .footer-item-dot {
        width: 30px;
        height: 30px;
    }
    /* ABOUT PAGE */
    .list-card-group {
        width: 100%;
    }
    .card-item {
        width: 48%;
    }
}

@media screen and (max-width: 576px) {
    .dropdown-item-img {
        width: 30px;
        height: 30px;
    }
    .dropdown-menu {
        height: 40px;
    }
    .dropdown-item-showcase,
    .dropdown-item-content {
        margin: 0 10px;
    }
    .pd-6 {
        padding: 3rem 0;
    }
    .banner {
        height: 100vh;
    }
    .main-content-black,
    .main-content-white {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .main-content-48,
    .blog-post-title {
        font-size: 34px;
    }
    .sub-content-black,
    .sub-content-white {
        font-size: 20px;
        line-height: 1.2;
        margin: 1rem 0;
    }
    .banner-app-store-link {
        margin: 2rem;
    }
    .banner-icon-content {
        margin-top: 3rem;
    }
    .banner-icon-content-item {
        margin: 0 1.5rem;
    }
    .intro-video-player video {
        width: 90%;
        border: 5px solid #004650;
        border-radius: 20px;
    }
    .intro-info-1-text *,
    .intro-info-2-text * {
        margin: 0.5rem 0;
    }
    .intro-info-1-text h1,
    .intro-info-2-text h1 {
        font-size: 34px;
        font-weight: 600;
        line-height: 1;
    }
    .intro-info-1-text p,
    .intro-info-2-text p {
        font-size: 20px;
    }
    .intro-info-2-img-dot {
        width: 45px;
        height: 45px;
        top: 15%;
        left: 25px;
    }
    .intro-info-2-img-1 {
        right: 0;
    }
    .intro-info-2-img-2 {
        right: 5%;
    }
    .get-started-icon-content {
        margin-top: 3rem;
    }
    .get-started-icon-content-item {
        margin: 0 1rem;
    }
    .btn-creator,
    .btn-creator:hover,
    .btn-creator:active,
    .btn-creator:visited,
    .btn-creator:focus {
        width: 150px;
    }
    .btn-fan,
    .btn-fan:hover,
    .btn-fan:active,
    .btn-fan:visited,
    .btn-fan:focus {
        width: 150px;
    }
    /* ABOUT PAGE */
    .about-detail-info h1 {
        font-size: 34px;
        line-height: 1.2;
        margin: 1rem 0;
    }
    .about-detail-info p {
        color: #fff;
        font-size: 20px;
    }
    .about-detail-info p:first-of-type {
        font-size: 16px;
    }
    /* ABOUT PAGE */
    .list-card-group {
        margin: 0;
        align-items: center;
    }
    .card-item {
        width: 80%;
        margin: 1rem 0;
    }
    .card-item-title {
        margin: 2rem 0;
    }
    .card-item-content {
        margin-top: 0;
    }
    .yam-cat-item {
        width: 40%;
        margin: 0.5rem 0;
    }
    .yam-cat-item-icon {
        width: 110px;
        height: 110px;
    }
    #post-intro-video-note {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .intro-info-1-img-dot {
        width: 350px;
        height: 350px;
    }
    .intro-info-2-img-dot {
        left: 15px;
    }
    .intro-info-2-img-2 {
        right: 8%;
        bottom: 15%;
    }
}

@media screen and (max-width: 320px) {
    .banner-app-store-link {
        margin: 1rem;
    }
    .banner-icon-content {
        margin-top: 2rem;
    }
    .banner-icon-content-item {
        margin: 0 1rem;
    }
    .intro-info-1-img-dot {
        width: 300px;
        height: 300px;
    }
    .btn-creator,
    .btn-creator:hover,
    .btn-creator:active,
    .btn-creator:visited,
    .btn-creator:focus {
        width: 130px;
    }
    .btn-fan,
    .btn-fan:hover,
    .btn-fan:active,
    .btn-fan:visited,
    .btn-fan:focus {
        width: 130px;
    }
}